.item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-detail img {
  object-fit: scale-down;
  width: 100%;
}
.item-detail h2 {
  font-size: 1.2rem;
}
.item-detail--single {
  flex-direction: row;
  gap: 2em;
}
.item-detail__text-container {
  display: flex;
  flex-direction: column;
}
@media (width <= 30em) {
  .item-detail--single {
    flex-direction: column;
  }
}
