.list-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  overflow: "auto";
}
.list-wrapper a {
  text-decoration: none;
  color: #fff;
}

.panel {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  gap: 32px;
  justify-content: center;
  width: 80%;
}
.panel--left {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.panel__row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

@media (width <= 60em) {
  .panel {
    flex-direction: column;
  }
  .panel--left {
    width: 100%;
  }
}
@media (width <= 30em) {
  .list-wrapper {
    grid-template-columns: 1fr;
  }
}
