body {
  background-color: #212121;
  font-family: "Inter", sans-serif;
  color: #a5a5a5;
  font-size: 1rem;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100vh;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
