body {
    background-color: white;
    font-family: "Open sans", sans-serif;
  }
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
  }
  